Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
Standard:        c++17
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     80
AlignAfterOpenBracket: Align
BinPackParameters: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: false
IndentPPDirectives: BeforeHash
SortIncludes:    Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None